{% extends '@Elislam/Default/base.html.twig' %}
{% block body %}
    <h1 class="text-center">maak een gallerij</h1>
    <div class="container-fluid col-11 card-header">

        {{ form_start(form)}}

            {{ form_widget(form) }}

        {{ form_end(form) }}

        <button class="btn btn-success space_box float-left btn-space"><a href="{{ path('post_index') }}"><span class="fa fa-chevron-circle-left" style="color: #FFFFFF;"> back to list</span></a></button>
    </div>
{% endblock %}
