{% extends '@Elislam/Default/base.html.twig' %}

{% block body %}

    <h1 class="text-center">maak een blog</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <input class="btn btn-lg btn-outline-primary" type="submit" value="Create" style="margin-bottom: 10px;"/>
    {{ form_end(form) }}

    <button class="btn btn-success space_box float-left btn-space"><a href="{{ path('blog_index') }}"><span class="fa fa-chevron-circle-left" style="color: #FFFFFF;"> back to list</span></a></button>
{% endblock %}
