body{
    background-image: url("../bg-pf-map/islam-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.maps{
    width: 791px;
    margin-left: 125px;
}
#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: #1b1b1b;
    border-radius: 4px;
    height: 53%;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 34px;
    width: 93%;
    height: 53%;
    border: 0;
}